@using Ken99.AppServices;
@using Ken99.Model.DocType;
@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page 
    // then just show the name of the page otherwise show the provided title
    var pageTitle = Model.Content.GetPropertyValue<string>(DocTypeAlias.PageTile, "");
    if (String.IsNullOrWhiteSpace(pageTitle))
    {
        pageTitle = Model.Content.Name; 
    }
    var newsItems = Model.Content.AllSortedNews(5);
}
<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="12u skel-cell-mainContent">
                <div class="content">
                    <!-- Content -->
                    <article class="is-page-content">
                        <header>
                            <h2>@pageTitle</h2>
                        </header>

                        @foreach (var item in newsItems)
                        {

                            // If the editor has not explicitly provided the "Page title" property page 
                            // then just show the name of the page otherwise show the provided title
                            var title = string.IsNullOrWhiteSpace(item.GetPropertyValue<string>(DocTypeAlias.PageTile,""))
                                ? item.Name
                                : item.GetPropertyValue<string>(DocTypeAlias.PageTile, "");


                            // If the editor has not explicitly set the publishDate property then show the create date
                            var dateTime = item.GetPropertyValue<DateTime>(DocTypeAlias.PublishDate, default(DateTime)) == default(DateTime) 
                                ? item.CreateDate
                                : item.GetPropertyValue<DateTime>(DocTypeAlias.PublishDate, default(DateTime));
                            
                            <section>
                                <h3><a href="@item.Url">@title</a></h3>
                                <span class="byline">@(item.GetPropertyValue<string>(DocTypeAlias.SubHeader, ""))</span>
                                <ul class="meta">
                                    <li class="timestamp">@dateTime.ToString("f")</li>
                                </ul>

                                @if (string.IsNullOrWhiteSpace(item.GetPropertyValue<string>(DocTypeAlias.Image, "")) == false)
                                {
                                    <a href="@item.Url" class="image image-full"><img src="@(item.GetPropertyValue<string>(DocTypeAlias.Image, ""))" alt="" /></a>
                                }

                                @Umbraco.Truncate(item.GetPropertyValue<string>(DocTypeAlias.Content, ""), 200)

                                <a href="@item.Url" class="button">Continue Reading</a>
                            </section>
                        }
                    </article>
                    <!-- /Content -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                @Umbraco.RenderMacro("Features")
            </div>
        </div>
    </div>
</div>
<!-- /Main -->
